<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sequence</key>
	<array>
		<string>render_psi4</string>
	</array>
	<key>passes</key>
	<dict>
		<key>render_psi4</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>metalVertexShader</key>
			<string>prepareRenderVolume</string>
			<key>metalFragmentShader</key>
			<string>renderVolume</string>
			<key>inputs</key>
			<dict>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>primaryPositiveColor</key>
				<string>primaryPositiveColor</string>
				<key>secondaryPositiveColor</key>
				<string>secondaryPositiveColor</string>
				<key>tertiaryPositiveColor</key>
				<string>tertiaryPositiveColor</string>
				<key>primaryNegativeColor</key>
				<string>primaryNegativeColor</string>
				<key>secondaryNegativeColor</key>
				<string>secondaryNegativeColor</string>
				<key>tertiaryNegativeColor</key>
				<string>tertiaryNegativeColor</string>
				<key>fieldOfView</key>
				<string>fieldOfView</string>
				<key>mergerTime</key>
				<string>mergerTime</string>
				<key>sourcePosition</key>
				<string>sourcePosition</string>
				<key>orbitalSeparationScale</key>
				<string>orbitalSeparationScale</string>
				<key>timeScale</key>
				<string>timeScale</string>
				<key>chirpMass</key>
				<string>chirpMass</string>
				<key>secondObjectRadius</key>
				<string>secondObjectRadius</string>
				<key>firstObjectRadius</key>
				<string>firstObjectRadius</string>
				<key>waveTravelSpeedScale</key>
				<string>waveTravelSpeedScale</string>
				<key>rayStride</key>
				<string>rayStride</string>
				<key>opticalDensity</key>
				<string>opticalDensity</string>
				<key>hcrossFraction</key>
				<string>hcrossFraction</string>
				<key>showFrequencyScaling</key>
				<string>showFrequencyScaling</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>targets</key>
	<dict/>
	<key>symbols</key>
	<dict>
		<key>sourcePosition</key>
		<dict>
			<key>type</key>
			<string>vec3</string>
		</dict>
		<key>primaryPositiveColor</key>
		<dict>
			<key>type</key>
			<string>vec4</string>
		</dict>
		<key>secondaryPositiveColor</key>
		<dict>
			<key>type</key>
			<string>vec4</string>
		</dict>
		<key>tertiaryPositiveColor</key>
		<dict>
			<key>type</key>
			<string>vec4</string>
		</dict>
		<key>primaryNegativeColor</key>
		<dict>
			<key>type</key>
			<string>vec4</string>
		</dict>
		<key>secondaryNegativeColor</key>
		<dict>
			<key>type</key>
			<string>vec4</string>
		</dict>
		<key>tertiaryNegativeColor</key>
		<dict>
			<key>type</key>
			<string>vec4</string>
		</dict>
		<key>fieldOfView</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>mergerTime</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>orbitalSeparationScale</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>timeScale</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>chirpMass</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>secondObjectRadius</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>firstObjectRadius</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>waveTravelSpeedScale</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>rayStride</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>opticalDensity</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>hcrossFraction</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>showFrequencyScaling</key>
		<dict>
			<key>type</key>
			<string>int</string>
		</dict>
	</dict>
</dict>
</plist>
